body {
  background-color: whitesmoke;
}

#mainHeader {
  display: flex;
  min-height: 100px;
  align-items: center;
  background-color: lightsteelblue;
  padding-left: 10px;
}

#mainHeader img {
  width: 100px;
  height: 100px;
  position: ;
  float: right;
}

form {
  padding: 20px;
}

#cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
